.form{
    // border: red 1px solid;
    display: flex;
    justify-content: center;
    font-family: inherit;
    text-transform: uppercase;

        .input{
            width: 30%;
            height: 2.2em;
            background-color: #e7e1ff;
            border: none;
            padding-left: 0.5%;
        }

        .button{
            background-color: #e7e1ff;
            width: 3em;
            margin-right: 1em;
            border: none;
            padding: 0
        }

        .button:hover{
            background-color: #f9ffe1;
        }

        .todos{
            background-color: #e7e1ff;
            height: 2.3em;
            border: none;
            font-weight: normal;
        }

        .option{
            background-color: #e7e1ff;
        }

}