.todoComponent{
    display: flex;
    justify-content: center;
    font-family: inherit;
    margin-bottom: 10px;
    margin-left: -38px;
    
    
        .todoItem{
            width: 33.5%;
            background-color: #cce6ff;
            border: none;
            list-style-type: none;
            padding:8px;   
        }

        .completed{
            text-decoration: line-through;
            opacity: 0.8;
        }

        .complete, .delete{
            background-color: transparent;
        }

        .completeButton, .deleteButton{
            background-color: #cce6ff;
            border: none;
        }

        .completeButton:hover, .deleteButton:hover{
            background-color: #f9ffe1;
        }
}

