.todoComponent{
    display: flex;
    justify-content: center;
    font-family: inherit;
    margin-bottom: 10px;
    
    .todoItem{
        width: 33.5%;
        background-color: #cce6ff;
        border: none;
        list-style-type: none;
        padding:8px;
        
    }

    .complete, .delete{
        background-color: transparent;
    }

    .completeButton, .deleteButton{
        background-color: #cce6ff;
        border: none;
    }

    .completeButton:hover, .deleteButton:hover{
        background-color: #f9ffe1;
    }
}