*{
    // background: linear-gradient(mistyrose, lightpink) fixed;
    background-color: #1a1a1a;
}

.header{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #f6e1ff;
    margin-top: 5%;
}